.Layout-wrapper {
    font-family: Arial, sans-serif;
    height: 1080px;
}

  .header {
    display: flex;
    justify-content: space-between;
    align-items:center;
    background-color: rgb(238, 249, 249);
    width: 100%;
   height: 100px;
  }
 .Logo-image{
    display: flex;
    align-items: center;
    justify-content: center;
    
 }
 
 #search-text{
  font-size: 20px;
   height: 40px;
   width: 250px;
   border: #eee solid;
   border-radius: 10px;
   background: rgba(201, 219, 236, 0.5);
   
 }
 
 #search-but ,#login-button{
  font-size: 30px;
  background: none;
  border: none;
 }
 #menu{
  width: 70%;  
 }
 .header-left{
  display: flex;
  width: 30%;
 }
  #menu ul li>a {
    text-decoration: none;
    color: black;
    font-size: 30px;
  }
 #menu ul >li {
    list-style-type: none;
    position: relative;
    margin: 0px;
    color: black;
    font-weight: bold;
    float: left;
    height: 50px;
    width: 200px;
 }
#menu ul li:hover {
    border-bottom: 3px solid #ccc ;
    padding-bottom: 10px;
}
  .menu-Cap2{
    position: absolute;
    top: 53px;
    border-top: #656161 3px solid;
    margin: 0;
    padding: 0;
    display: none;
  }
  .menu-Cap2 li{
    background-color: aliceblue;
    max-width: 400px;
    padding: 10px;
    border-bottom: 1px solid #656161;
  }
  #menu ul >li:hover .menu-Cap2{
    display: block;
  }
  .menu-Cap2 li:hover{
    background-color: #ccc;
  }
.Layout-content{
    width: 60%;
    height: 80%;
    background: url("https://t4.ftcdn.net/jpg/05/41/22/89/240_F_541228984_HZuJBpSlGDvgEixl4lINXRb1uuJWdh6G.jpg") no-repeat ;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 20%;
}
h1 {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
   text-shadow:  5px 3px #656562;
   color: #9fd6a8;
   font-size: 50px;
   
}
label{
    font-size: 1.3em;
    color: #656161;
}

.Layout-content >form {
    margin-top: 50px;
    height: 400px;
    width: 800px;
    background: url("https://png.pngtree.com/background/20211217/original/pngtree-blue-pastel-background-picture-image_1599663.jpg");
    background-size: cover;
    padding: 50px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
#name,#email{
    width: 40%;
    padding: 10px;
    border: 1px solid #ccc;
    background-image: linear-gradient(0, #ecf1ce, #bbcfee);
    border-radius: 5px;
    margin-bottom: 20px;
    margin:10px 80px;
}
textarea {
    background-image: linear-gradient(0, #ecf1ce, #bbcfee);
    margin:20px 80px;
    width: 80%;
    height: 80px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 20px;
}

#send {
    background-image: linear-gradient(0, #ecf1ce, #bbcfee);

    color: #656161;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
  
    font-size: 16px;
    display: block;
    margin: 0 auto;
    height: 50px;
    width: 100px;
}

#send:hover {
    background-image: linear-gradient(0, #819030, #bbcfee);

}

.error {
    color: red;
    font-weight: bold;
    margin-bottom: 10px;
}

footer {
    font-size: 1.12rem;
    width: 100%;
    height: 40%;
    padding: 20px;
    background-color: #eee;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
  }
  .footer-content{

     display: flex;
     justify-content: center;
     align-items: center;
     bottom: 10;
  }
  footer i{
    font-size: 2.15rem;
    
  }
.footer-address{
   width: 30%;
   height: 100%;
    opacity: 0.5;
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    align-items:flex-start;
}


.footer-address > ul li{
    float: left;
    margin: 10px;
    list-style-type: none;
    align-items: flex-start;
}

.footer-mid{
  width: 30%;
  opacity: 0.5;
  margin: 50px;
 
}
.footer-mid a{
  margin-right: 20px;
  margin-left: 10px;
}
.right{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
#BCT{
 margin-left: 50px;
 height: 50px;
 width: 150px;
}