body {
    font-family: Arial, sans-serif;
    color: #333;
  }

  .header {
    display: flex;
    justify-content: space-between;
    align-items:center;
    background-color: rgb(238, 249, 249);
    width: 100%;
   height: 100px;
  }
 .Logo-image{
    display: flex;
    align-items: center;
    justify-content: center;
    
 }
 
 #search-text{
  font-size: 20px;
   height: 40px;
   width: 250px;
   border: #eee solid;
   border-radius: 10px;
   background: rgba(201, 219, 236, 0.5);
   
 }
 
 #search-but ,#login-button{
  font-size: 30px;
  background: none;
  border: none;
 }
 #menu{
  width: 85%;  
 }
 .header-left{
  display: flex;
  width: 15%;
  justify-content: space-between;
 }
  #menu ul li>a {
    text-decoration: none;
    color: black;
    font-size: 30px;
  }
 #menu ul >li {
    list-style-type: none;
    position: relative;
    margin: 0px;
    color: black;
    font-weight: bold;
    float: left;
    height: 50px;
    width: 200px;
 }
#menu ul li:hover {
    border-bottom: 3px solid #ccc ;
    padding-bottom: 10px;
}
  .menu-Cap2{
    position: absolute;
    top: 53px;
    border-top: #656161 3px solid;
    margin: 0;
    padding: 0;
    display: none;   
  }
  .menu-Cap2 li{
    background-color: aliceblue;    
    border-bottom: 1px solid #656161;
    max-width:400px;
   padding: 20px;
    
  }
  #menu ul >li:hover .menu-Cap2{
    display: block;
  }
  .menu-Cap2 li:hover{
    background-color: #ccc;
  }


.Box{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 60%;
    margin-left: 20%;
    font-size: 30px;
    background: #e8e6e6;
}
.Box h2{
    font-size: 60px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.Box p{
    text-transform:unset;
    margin: 0 20%;
   
}
.Box ul li{
    list-style-type: none;
    margin: 20px;
}

  footer {
    font-size: 1.12rem;
    width: 100%;
    height: 40%;
    padding: 20px;
    background-color: #eee;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
  }
  .footer-content{

     display: flex;
     justify-content: center;
     align-items: center;
     bottom: 10;
  }
  footer i{
    font-size: 2.15rem;
    
  }
.footer-address{
   width: 30%;
   height: 100%;
    opacity: 0.5;
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    align-items:flex-start;
}


.footer-address > ul li{
    float: left;
    margin: 10px;
    list-style-type: none;
    align-items: flex-start;
}

.footer-mid{
  width: 30%;
  opacity: 0.5;
  margin: 50px;
 
}
.footer-mid a{
  margin-right: 20px;
  margin-left: 10px;
}
.right{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
#BCT{
 margin-left: 50px;
 height: 50px;
 width: 150px;
}