<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./Footer.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
      integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <title>Document</title>
  </head>
  <footer>
    <div class="footer-content">
      <div class="footer-address">
        <ul>
          <li><h4>Hệ Thống Cửa Hàng:</h4></li>
          <li>Store 1: 17 Huỳnh Đình Hai, P14 - Quận Bình Thạnh, Tp.HCM</li>
          <li>Store 2: 332 Cao Đạt, P.1 - Quận 5, Tp.HCM</li>
          <li>Store 3: 539 Sư Vạn Hạnh P.13 - Quận 10, Tp.HCM</li>
          <li>Store 4: 1002 Quang Trung P.8, Quận Gò Vấp, Tp.HCM</li>
          <li>Store 5: 164 - 166 Trường Chinh P.13, Quận Tân Bình, TP.HCM</li>
        </ul>
      </div>
      <div class="footer-mid">
        <h4
          style="
            height: 24px;
            display: flex;
            align-items: center;
            font-size: 18px;
          "
        >
          HỖ TRỢ(9:00 - 22:00)
        </h4>
        <br />
        <!-- <strong>
          HotLine: <a>0287 337 64 54</a><a>tranchicong@gmail.com</a></strong
        > -->
        <div style="display: flex; gap: 30px">
          <p style="height: 24px; display: flex; align-items: center; gap: 5px">
            <i
              class="fa-solid fa-headphones-simple"
              style="font-size: 17px"
            ></i>
            0123456789
          </p>

          <p style="height: 24px; display: flex; align-items: center; gap: 5px">
            <i class="fa-solid fa-envelope" style="font-size: 17px"></i
            >test@gmail.com
          </p>
        </div>
        <br />
        <a
          href="#"
          style="
            font-size: 20px;
            text-decoration: none;
            color: black;
            font-weight: bold;
            display: block;
            line-height: 1.85;
          "
          >Giới Thiệu</a
        >
        <a
          href="#"
          style="
            font-size: 20px;
            text-decoration: none;
            color: black;
            font-weight: bold;
            display: block;
            line-height: 1.85;
          "
          >Liên hệ</a
        >
      </div>
      <div class="footer-right">
        <h3>THEO DÕI CHÚNG TÔI:</h3>
        <div
          class="footer-media"
          style="
            margin-top: 10px;
            margin-bottom: 10px;
            display: flex;
            gap: 20px;
          "
        >
          <i class="fa-brands fa-tiktok" style="font-size: 34px"></i>
          <i class="fa-brands fa-facebook" style="font-size: 34px"></i>
          <i class="fa-brands fa-instagram" style="font-size: 34px"></i>
        </div>
        <h3>PHƯƠNG THỨC THANH TOÁN:</h3>
        <img
          src="https://theme.hstatic.net/1000026602/1001012449/14/img-payment.png?v=698"
        />
        <div class="right">
          <img
            width="100px"
            id="BCT"
            src="https://theme.hstatic.net/1000026602/1001012449/14/thongbao.png?v=698"
          />
        </div>
      </div>
    </div>
    <p>Bản quyền © 2023</p>
  </footer>
</html>
